.desc-project>p{
    font-size: 16px;
    padding-left: 0px !important;
}

.list-ul2{
    font-size: 13px !important;
    margin-left: 40px;
}

.img-project{
    width: 10% !important;
    height: 100% !important;
}

span{
    padding-left: 100px !important;
    padding-right: 100px !important;
    padding-bottom: 20px;

}

