<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Slabo+27px&display=swap');
</style>
body{
  font-family: 'Roboto', sans-serif;
}
.gradient-custom {
  background-color: rgb(148, 185, 240);

  }

button{
    margin-left: 52%;
    width: 200px;
    background-color: rgb(15, 28, 143, 0.9) !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-radius: 10px !important;


}

.input>.email,.password,p{
  color: rgba(128, 128, 128, 1);
  font-style: italic;
}

.input>p{
  margin-top: 0%;
}
.border{
  border-color: rgba(128, 128, 128, 1) !important;
}

.underline {
text-align: center;
}
.line{
  background-color: white;
  height: 2px;
  margin-top: 10px;
}

.copuright{
  background-color: rgb(148, 185, 240);
  color: white;
}